<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment4</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  </head>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "home"%}">
        {% block title %}
        Statistics
        {% endblock %}
      </a>
      <div class="btn btn-outline-primary text-dark  position-relative" type="submit">
        Cart (Unique number):
        <span class="text-danger fw-bold">
          {{ unique_no }}
        </span>
      </div>
    </div>
  </nav>
  {% block content %}
  
  defult text
  {% endblock %}
</body>
</html>