{% extends "base.html" %} {% block content %}
<div class="maindiv m-3">
  <h2 class="mb-3 fs-1 fw-bold">Enter your Numbers Here</h2>
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <form method="post" enctype="multipart/form-data" class="mb-5">
    {% csrf_token %}
    <div class="mb-3 "><strong>{{ form.numbers.label_tag }}</strong> {{ form.numbers }}</div>
    <div class="mb-3"><strong>{{ form.file.label_tag }} </strong> {{ form.file }}</div>
    <button type="submit" class="btn btn-primary fw-bold">Submit</button>
  </form>
</div>
{% endblock %}
